@import 'fonts.css';

:root {
  --first-color: #212121;
  /*Цвет текста-ссылок меню*/
  --white-color: #fff;
  --gray-color: #808080;
  --accent-color: #00897b;
  --accent-color2: #04574e;
  /*Акцентный Цвет для кнопок и для hover */
  --background-color1: #e4fdf9;
  --background-color2: #f0f1f1;
  --light-font: "Open Sans Light", sans-serif;
  --regular-font: "Open Sans Regular", sans-serif;
  --bold-font: "Open Sans Bold", sans-serif;
  --semibold-font: "Open Sans Semibold", sans-serif;
  --button-bold-font: "Roboto Bold", sans-serif;
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--gray-color);
}

a {
  text-decoration: none;
  background-color: transparent;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

/*Текст стиль для основного текстового блока*/
.text-h2 {
  letter-spacing: 0.05em;
  font-size: 30px;
  font-family: var(--bold-font);
  text-align: center;
  margin-bottom: 25px;
  /* color: var(--first-color); */
}

.text-h3 {
  letter-spacing: 0.05em;
  font-size: 20px;
  font-family: var(--semibold-font);
  text-align: center;
  /* color: var(--first-color); */
  margin-top: 30px;
  margin-bottom: 20px;
}

.text-p {
  letter-spacing: 0.05em;
  font-size: 15px;
  font-family: var(--regular-font);
  text-align: center;
  /* color: var(--first-color); */
  line-height: 1.5;
}

.text-p-wide {
  max-width: 650px;
  margin: 0 auto;
  letter-spacing: 0.05em;
  font-size: 15px;
  font-family: var(--regular-font);
  text-align: center;
  line-height: 1.5;

}

.container {
  max-width: 1224px;
}

/*Меню*/
.menu-bar {
  padding: 25px 0 30px;
  background-color: var(--white-color);
}

.row {
  justify-content: space-between;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: var(--semibold-font);
  font-size: 20px;
  color: var(--first-color);
}

.menu__item a:hover {
  color: var(--gray-color);
}

i.icon-menu-bar {
  font-size: 20px;
}

/*Шапка*/
.header {
  /* max-width: 1400px; */
  color: var(--white-color);
  text-align: center;
  padding: 170px 0 65px;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
  /* background-color: rgb(0, 0, 0); */
}

.header__title {
  letter-spacing: 0.05em;
  font-size: 60px;
  font-family: var(--semibold-font);
  margin-bottom: 20px;
}

.header__text {
  letter-spacing: 0.05em;
  font-size: 22px;
  font-family: var(--regular-font);
  margin-bottom: 110px;
}

.button {
  padding: 15px 30px;
  margin: 0 10px;
  color: var(--white-color);
  transition: 0.3s ease;
  text-transform: uppercase;
  font-family: var(--button-bold-font);
  font-size: 20px;
  margin-bottom: 90px;
}

.button_empty {
  background: transparent;
  border: 2px solid var(--white-color);
}

.button_full {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.button_empty:hover,
.button_full:hover {
  border: 2px dotted var(--white-color);
  background: var(--accent-color2);
  cursor: pointer;
}

i.fa-angle-down {
  display: block;
  font-weight: bold;
  font-size: 35px;
  color: var(--white-color);
}

/*О нас*/
.about {
  padding-top: 115px;
  padding-bottom: 100px;
  background-color: var(--white-color);
  text-align: center;
  color: var(--first-color);
}

.about__text {

  margin-bottom: 125px;
}

/*Наши сервисы*/
.service {
  background-color: var(--background-color1);
  color: black;
  padding-top: 165px;
  padding-bottom: 135px;
  text-align: center;
}

.service__text {
  margin-bottom: 110px;
}

.our_card {
  padding: 50px 20px 50px;
  margin-bottom: 30px;
  background-color: var(--white-color);
  color: var(--first-color);
  transition: 0.3s ease;
}

.our_card:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.our_card:hover .icon {
  color: var(--white-color);
}

.our_card:hover .button-service {
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.icon {
  font-size: 60px;
  color: black;
  transition: 0.3s;
}

.service__p {
  max-width: 265px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.button-service {
  font-family: var(--semibold-font);
  text-transform: uppercase;
  border: 2px solid #000;
  background-color: transparent;
  padding: 14px 18px;
  transition: 0.3s ease;
}

.button-service:hover {
  cursor: pointer;
}

/*Портфолио*/
.portfolio {
  background-color: var(--white-color);
  padding-top: 120px;
  padding-bottom: 135px;
}






/*Кнопка наверх*/
#toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  background: #00897b;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #000000;
}