@import 'fonts.css';

:root {
  --menu-bar-color: #212121;
  --background-color: #fff;
  --light-font: "Open Sans Light", sans-serif;
  --regular-font: "Open Sans Regular", sans-serif;
  --bold-font: "Open Sans Bold", sans-serif;
  --semibold-font: "Open Sans Semibold", sans-serif;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: gray;
}

a {
  text-decoration: none;
  background-color: transparent;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1224px;
}

/*Меню*/
.menu-bar {
  padding: 20px 0;
  background-color: var(--background-color);
}

.row {
  justify-content: space-between;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: var(--semibold-font);
  font-size: 20px;
  color: var(--menu-bar-color);
}

.menu__item a:hover {
  color: gray;
}

/*Шапка*/